---
comments: true
layout: post
title: Data Structures Write-Up
description: Write-Up for Data Structures project.
type: tangibles
courses: { compsci: {week: 30} }
---

## Collections

### Unique SQLite Data Table

<img src="write1">

### Model Code for Initializing Table + Creating Test Data

In [ ]:
class Theme(db.Model):
    __tablename__ = 'theme_data'
    id = db.Column(db.Integer, primary_key=True)
    _name = db.Column(db.String(255), unique=False, nullable=False)
    _uid = db.Column(db.String(255), unique=True, nullable=False)
    _password = db.Column(db.String(255), unique=False, nullable=False)
    _role = db.Column(db.String(255))
    theme = db.Column(db.String(10), default='light')

In [ ]:
def initTheme():
    with app.app_context():
        db.create_all()
        u1 = Theme(name='Thomas Edison', uid='toby', password='123toby')
        u2 = Theme(name='Nicholas Tesla', uid='niko', password='123niko')
        u3 = Theme(name='Alexander Graham Bell', uid='lex', password='123bell')
        u4 = Theme(name='Grace Hopper', uid='hop', password='123hop')
        u5 = Theme(name='Admin', uid='root', password='root', role="admin")
        themes = [u1, u2, u3, u4, u5]